/* 
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    #C5C3C6
    #202020
    #4C5C68
    #1985A1
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --background-color: #202020;
    --hightlight-color: #1985a1;
    --less-important-color: #4c5c68;
    --text-color: #bbb;
    --hover-color: #272727;

    --title-font: 'Poppins', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

/* Reset não muito agressivo de alguns estilos */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
    /* height: 100vh; */
    color: var(--text-color);
    font-family: var(--text-font);
}

h2,
.main__content__title
{
    color: var(--hightlight-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    border-radius: 16px;
}

.text-highlight {
    color: var(--hightlight-color);
    font-weight: 700;
}

.menu {
    padding: 2% 0% 0% 15%;
}

.menu__navbar {
    display: flex;
    gap: 80px;
}

.menu__navbar__link {
    color: var(--hightlight-color);
    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

.main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.main__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__content__title {
    font-size: 2.5rem;
    font-family: var(--title-font);
}

.main__content__text {
    color: var(--less-important-color);
    font-size: 1.75rem;
}

.main__content__list {
    padding: 1.5rem;
}

.main__content__list__item {
    color: var(--less-important-color);
    font-size: 1.25rem;
}

.main__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.main__links__subtitle {
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 400;
}

.main__links__link {
    /* 
    'ctrl + k' + 'ctrl + c' → cria comentário 
    */
    border: 3px solid var(--less-important-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 1.125rem 0;
    font-weight: 600;
}

.main__links__link:hover {
    background-color: var(--hover-color);
}

.main__links__svg {
    fill: var(--hightlight-color);
    width: 32px;
}

.main__image {
    width: 50%;
}

.footer {
    color: var(--less-important-color);
    font-family: var(--text-font);
    text-align: center;
    padding: 1.5rem;
}

/* Página 'about.html' */
.main__content__text__aboutme {
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--text-font);
    font-weight: 400;
}

.about__photo {
    height: 400px;
    padding-right: 20%;
}

/* Página 'resume.html' */
.main__resume__div {
    display: flex;
    gap: 120px;
}
.main__resume__subtitle {
    color: var(--less-important-color);
    font-family: var(--title-font);
    font-size: 2rem;
}

.main__experiences__company {
    color: var(--less-important-color);
    font-family: var(--title-font);
    font-size: 1rem;
    font-weight: 700;
}

.main__experiences__list__item {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 400;
}

.main__studies__list {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: 400;
}

.main__languages__list {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: 400;
}

/* Responsividade */
@media (max-width: 1200px) {
    .menu {
        padding: 8%;
    }

    .menu__navbar {
        justify-content: center;
    }

    .main {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .main__content {
        width: auto;
    }

    .about__photo {
        padding: 0;
    }
}